---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} ZeroD0m
  </div>
   
<!-- 
  #<div class="inline opacity-75">
  #  <!-- Thanks for using this template. Please keep this line to support my work :) -->
  #  <a href="https://astro-modern-personal-website.netlify.app/" target="_blank" class="font-bold">Website Template</a> developed by
  #  <a href="https://?????.github.io" target="_blank" class="font-bold">ZeroD0m ⚡️</a>
  #</div>
-->
</footer>
<style>

</style>
